
@import url(https://fonts.googleapis.com/css?family=Nova+Square);

body {
    background-color: rgb(88, 90, 90);
    font-family: 'Noto Sans', sans-serif;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 2px solid rgb(19, 2, 65);
    border-collapse: collapse;
    padding: .85rem;
    margin: 50px;
    text-align: center;
    background-color: rgb(219, 218, 217);
}

th {
    background-color: rgb(196, 193, 193);
}

#boton-alta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

#boton-alta a {
    text-decoration: none;
}

.btn{
    background-color: #0e8be4;
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid rgb(19, 2, 65);
}

.btn:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: #0a6db4;
}

form{
    margin: 50px;
    height: 55%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, #opciones {
    width: 90%;
    height: 1.825rem;
    font-size: .8em;
}

.input, #opciones {
    background-color: rgb(219, 218, 217);
    padding-left: 20px;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

#opciones {
    padding-top: .5rem;
    color:rgb(88, 90, 90);
}

.input:hover, .sel:hover {
    border: 2px solid #000000;
    font-size: .6rem;
    letter-spacing: .3rem;
}

#opciones {
    margin-bottom: .8rem;
    padding: .5rem;
    border: none;
    outline: none;
    letter-spacing: 1px;
}

#btn-agregar{
    display: block;
    background-color: #0e8be4;
    width: 30%;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(19, 2, 65);
}


#btn-agregar:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: #0a6db4;
}


#boton-volver{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

#boton-volver a {
    text-decoration: none;
}