<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Agregar</title>
</head>

<body>
    <form action="" method="POST">
        <!-- faltaría agregar la ruta en action "/agregar" -->
        <input class="input" type="text" id="dni" name="dni" placeholder="DNI" maxlength="8" required><br><br>
        <input class="input" type="text" id="nombre" name="nombre" placeholder="Nombre" maxlength="20" required><br><br>
        <input class="input" type="text" id="apellido" name="apellido" placeholder="Apellido" maxlength="20" required><br><br>
        <input class="input" type="text" id="direccion" name="direccion" placeholder="Dirección" maxlength="5" required><br><br>
        <input class="input" type="text" id="educacion" name="educacion" placeholder="Educación" maxlength="5" required><br><br>
        <input id="btn-agregar" type="submit" value="Agregar">
    </form>
    <div id="boton-volver">
        <a class="btn" href="/">Volver</a>
    </div>
</body>
</html>