

{% extends "navbar.html" %}

    {% block content %}
    <!-- <header>
        <nav class="topnav" id="myTopnav">
            <div class="nu">
            <a href="/"><img class="plus" src="{{ url_for('static', filename='IMG/home.svg') }}"
                    title="Home" alt="home"></a>
            </div>
            <div class="nu">
            <a href="/buscar"><img class="plus" src="{{ url_for('static', filename='IMG/search.svg') }}"
                    title="BUSCAR" alt="buscar"></a>
            </div>
            <div class="nu">
            <a href="/agregar"><img class="plus" src="{{ url_for('static', filename='IMG/plus.svg') }}"
                    title="AGREGAR USUARIO" alt="agregar usuario"></a>
            </div>
          </nav>
          </header> -->
    <div class="contenedor">
        <div class="hh1">
        <h1>ALTA DE USUARIOS</h1>
        </div>
        <form action="" method="POST">
            <!-- faltaría agregar la ruta en action "/agregar" -->
            <input class="input" type="text" name="dni" placeholder="DNI" maxlength="8" required /><br /><br />
            <input class="input" type="text" name="nombre" placeholder="Nombre" maxlength="20"
                required /><br /><br />
            <input class="input" type="text" name="apellido" placeholder="Apellido" maxlength="20"
                required /><br /><br />
            <!-- <input class="input" type="text" id="direccion" name="direccion" placeholder="Dirección" maxlength="5" required><br><br> -->
            <!-- <label class="sel">Dirección</label> -->
            <select id="opciones" name="direccion" required>
                <option value="">Dirección</option>

                {% for di in direccion %}

                <option value="{{di.0}}">{{di.0}}{{") "}} {{di.1}} {{di.2}}</option>

                {% endfor %}
            </select>
            <br />
            <select id="opciones" name="educacion" required>
                <option value="">Educación</option>

                {% for ed in educacionHtml %}

                <option value="{{ed.0}}">
                    {{ed.0}}{{") "}} {{ed.3}} {{"("}}{{ed.1}}{{")"}}
                </option>

                {% endfor %}
            </select>
            <br />
            <!-- <input class="input" type="text" id="educacion" name="educacion" placeholder="Educación" maxlength="5" required><br><br> -->
            <button class="btn-agregar" type="submit">AGREGAR</button>
        </form>
    </div>
    <div class="boton-volver">
        <a class="btn" href="/">VOLVER</a>
    </div>
    <script>
        function myFunction() {
            alert("Hello\nHow are you?");
        }
    </script>
    {% endblock %}
