<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/IMG/data-server.png')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/style.css')}}">
    <title>buscar</title>
</head>
<body>
    {% block content %}
    <div class="nu">
        <a href="/"><img class="plus" src="{{ url_for('static', filename='IMG/home.svg') }}"
                title="Home" alt="home"></a>
        </div>
    <div class="busqueda">
    <h1>BÚSQUEDA</h1>
    </div>
    <form action="/buscar" method="POST" style="margin: 30px auto;">
      <label for="buscar">Ingrese su búsqueda</label>
      <input type="search" id="buscar" name="nombre">
      <button class="btn-agregar" type="submit">BUSCAR</button>
      <!-- <input type="submit" value="Buscar"> -->
    </form>

    <div class="boton-volver">
        <a class="btn" href="/">VOLVER</a>
    </div>
    {% endblock %}
</body>
</html>